body {
    padding: 0;
    margin: 0;
}

/* ----------------------------- MEDIA QUERIES ------------------------*/

@media (max-width: 768px) {
    .social {
        padding: 0;
    }
}




/* ----------------------------- NAV ------------------------*/

.bg-custom {
    background-color: #000;
}

.navbar-custom {
    color: #fff;
}

.navbar-brand {
    text-decoration: none;
    color: #fff !important;
}

.navbar .navbar-nav li a {
    color: #fff;
    -webkit-transition: ease-in-out 0s;
    -moz-transition: ease-in-out 0s;
    -o-transition: ease-in-out 0s;
}

.navbar .navbar-nav li a:hover {
    border: 1px solid red;
}



.social {
    text-align: center;
}


.social .nav-link {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.font-awesome-icon {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.font-awesome-icon:hover {

    font-size: 40px;
    color: #FF0000;
}


/* ----------------------------- FOOTER ------------------------*/

footer {
    padding: 0;
    margin: 0;
    background-color: #000;
}



