body {
    padding: 0;
    margin: 0;
}

.content-section {
    font-family: "PT Sans", sans-serif;
    color: #000;
    text-align: center;
}

.page-heading {
    font-family: "Teko", sans-serif;
    font-size: 50px;
    color: #000;
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}


/* ----------------------------- NAV ------------------------*/

.bg-custom {
    background-color: #000;
}



.navbar {
    padding-bottom: 0px;
    border-bottom: 2px solid #FF0000;
}

.navbar-brand .logo {
    width: 200px;
    height: auto;
}



.navbar .navbar-nav .menu-item {
    font-family: "Teko", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25;
    -o-transition: ease-in-out 0.25s;
}

.navbar .navbar-nav .menu-item:hover {
    font-size: 30px;
    color: #FF0000;
}



.social {
    text-align: center;
    padding: 0;
}


.social .nav-link {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.font-awesome-icon {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.font-awesome-icon:hover {

    font-size: 40px;
    color: #FF0000;
}


/* ----------------------------- FOOTER ------------------------*/

footer {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0;
    background-color: #000;
    position: static;
    left: 0;
    bottom: 0;
    border-top: 2px solid #FF0000;
}


footer img {
    width: 200px;
    height: auto;
}



/* ----------------------------- HOME ------------------------*/

.jumbotron {
    font-family: "Teko", sans-serif;
    font-size: 40px;
    padding: 20px 20px 30px 20px;
    margin: 0;
    background-color: #fff;
    color: #000;
    text-align: center;
}


.index-image img {
    width: 100%;
    height: auto;
    border: 2px solid #FF0000;
}


ul .index-list {
    text-align: center;
}

/* ----------------------------- WORK WITH ME ------------------------*/


form {
    display: block;
    text-align: center;
    padding: 10px;
}

.name {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    
}

.email {
    width: 100%;
    height: auto;
    resize: none;
}

textarea {
    width: 100%;
    height: auto;
    margin-top: 50px;
    resize: none;
}

input, textarea {
    outline: none;
    border: 2px solid #FF0000;
}


form button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    background-color: #FF0000;
    font-family: "Teko", sans-serif;
    font-size: 25px;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}

form button:hover {
    color: #fff;
    cursor: pointer;
}


/* ----------------------------- MEDIA QUERIES ------------------------*/

@media screen and (min-width: 768px) {
    .name, .email, textarea {
        width: 50%;
        height: auto;
    }
}