body {
    padding: 0;
    margin: 0;
}


/* ----------------------------- NAV ------------------------*/

.bg-custom {
    background-color: #000;
}


.navbar {
    border-bottom: 2px solid #FF0000;
}

.navbar-brand .logo {
    width: 200px;
    height: auto;
}

.navbar .nabar-nav .menu-item {
    color: #fff;
}


.navbar .navbar-nav .menu-item {
    color: #fff;
    text-align: center;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25;
    -o-transition: ease-in-out 0.25s;
}

.navbar .navbar-nav .menu-item:hover {
    font-size: 20px;
    color: #FF0000;
}



.social {
    text-align: center;
    padding: 0;
}


.social .nav-link {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.font-awesome-icon {
    font-size: 25px;
    color: #fff;
    text-align: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
}

.font-awesome-icon:hover {

    font-size: 40px;
    color: #FF0000;
}


/* ----------------------------- FOOTER ------------------------*/

footer {
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0;
    background-color: #000;
    position: static;
    left: 0;
    bottom: 0;
    border-top: 2px solid #FF0000;
}


footer img {
    width: 200px;
    height: auto;
}


.copyright-icon {
    color: #fff;
    font-size: 15px;
}


/* ----------------------------- HOME ------------------------*/


.jumbotron {
    padding: 20px 20px 30px 20px;
    margin: 0;
    background-color: #fff;
    color: #000;
    text-align: center;
}


.index-image img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 2px solid #FF0000;
}

.about-heading {
    color: #000;
    text-align: center;
}

.about-section {
    color: #000;
}